body {
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.content {
    display: flex;
    flex-direction: column;
}

#content-1 {
    background-color: #1F2937;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#awesome-website {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 5px 25px;
}

#image {
    flex-shrink: 0;
    min-width: 50%;
    color: #E5E7EB;
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-2 {
    background-color: #F9FAF8;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#illustrations {
    display: flex;
    justify-content: center;
    gap: 50px
}

#illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#image-2 {
    flex-shrink: 0;
    height: 200px;
    width: 200px;
    background-color: #F9FAF8;
    border: solid #3882F6;
    border-radius: 8px;
}

#content-3 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
}

#content-4 {
    height: 350px;
    background-color: #F9FAF8;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, #content-1 {
    padding-left: 300px;
    padding-right: 300px;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.text-2 {
    color: #6D747D;
    text-align: center;
}